---
import Navbar from '../lib/components/Navbar.svelte';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
</head>
<body>
<main class="w-screen h-screen dark:bg-gray-800 text-body dark:text-white">
    <Navbar action={true} />
    <div class="p-4">
        Coming Soon...
    </div>
</main>
</body>
</html>
