---
    import Index from "../lib/components/Index.svelte";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="/graphics/Logo.svg"/>
    <link rel="mask-icon" href="/graphics/Logo.svg" color="#3D8FF6">
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
</head>
<body>
<main class="w-screen h-screen">
    <Index client:load />
</main>
</body>
</html>

<style global lang="postcss">
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    /* width */
    ::-webkit-scrollbar {
        width: 8px;
        z-index: 1000;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        z-index: 1000;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-accent;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(61, 143, 246, 0.8);
    }

    ::-webkit-scrollbar-track-piece {
        background: transparent;
    }
</style>
